<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="{{ "title" | trans }}">
    <meta name="author" content="Javier Martínez Fernández">
    <meta name="keywords" content="android, development, resize, image, resource, xhdpi, hdpi, mdpi, ldpi">
    <meta name="description" content="{{ "description" | trans }}">

    <link rel="shortcut icon" href="favicon.ico" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png" />

    <title>{{ "title" | trans }}</title>

    {% stylesheets output="css/animate.css" "components/animate.css/animate.min.css" %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {% stylesheets filter="less" output="css/bootstrap.css" "../src/assets/index.less" %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {% stylesheets filter="stylus" output="css/index.css" "../src/assets/index.styl" %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {% javascripts output="js/vendor.js"
        "components/jquery/jquery.js"
        "components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"
        "components/blueimp-file-upload/js/jquery.fileupload.js"
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% javascripts filter="coffee" output="js/index.js" "../src/assets/index.coffee" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
</head>
<body>
    <a id="github" href="https://github.com/ecentinela/android-image-resizer">
        <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
    </a>

    <header>
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    <div id="logo">
                        <h2 class="pull-left">Image Resizer</h2>
                        <h4 class="pull-left">For Android</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span5">
                    <div id="image"></div>
                </div>

                <div class="span7">
                    <h3>{{ "resize_your_images" | trans }}</h3>

                    <p>{{ "upload_a_file" | trans | raw }}</p>

                    <p>{{ "wait_for_downloads" | trans | raw }}</p>

                    <span id="fileinput-button">
                        {{ "select_zip_file" | trans | raw }}
                        <input id="fileupload" type="file" name="file" data-url="/upload/{{ hash }}" data-check="/status/{{ hash }}" />
                    </span>

                    <div id="progress" class="progress progress-striped active hide">
                        <div class="bar bar-success"></div>
                    </div>

                    <div class="alert alert-success clearfix">
                        {% if app.session.flashbag.has("info") %}
                            <div class="span5">
                                <p>{{ app.session.flashbag.get("info")[0] }}</p>
                            </div>
                        {% else %}
                            <div class="span5">
                                <p>{{ "donate" | trans }}</p>
                            </div>

                            <div class="span2">
                                <form id="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="PR635FG6FP48N">
                                    <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="{{ "paypal_button" | trans }}">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="body">
        <div class="container">
            <ul class="unstyled">
                <li id="xhdpi" class="pull-left animated">
                    <a href="/downloads/{{ hash }}_xhdpi.zip">
                        <span>XHDPI</span>
                        <img src="/images/circle.png" alt="xhdpi" />
                    </a>
                </li>

                <li id="hdpi" class="pull-left animated">
                    <a href="/downloads/{{ hash }}_hdpi.zip">
                        <span>HDPI</span>
                        <img src="/images/circle.png" alt="hdpi" />
                    </a>
                </li>

                <li id="mdpi" class="pull-left animated">
                    <a href="/downloads/{{ hash }}_mdpi.zip">
                        <span>MDPI</span>
                        <img src="/images/circle.png" alt="mdpi" />
                    </a>
                </li>

                <li id="ldpi" class="pull-left animated">
                    <a href="/downloads/{{ hash }}_ldpi.zip">
                        <span>LDPI</span>
                        <img src="/images/circle.png" alt="ldpi" />
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <small>&copy;2013 Javier Martínez Fernández</small>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
